.star-message-pin {
  margin-left: 4px;
  color: var(--color-text-light-5);
  cursor: pointer;
}
.star-message-pin i.fa-solid {
  color: gold;
}

.chat-message.star-message-protected,
.message.star-message-protected {
  border: 2px solid #FFD700 !important;
}
